.academy-box {
  width: 100%;
  border-radius: 4px;
  //margin: 10px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .image-present {
    width: 100%;
    height: 200px;
    background: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      max-height:200px;
    }
  }

  .academy-detail {
    padding: 20px 15px;

    .box-title {
      margin-bottom: 6px;
      font-size: 15px;
      font-weight: 500;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .box-desc {
      font-size: 13px;
      overflow: hidden;
      height: 80px;
      text-overflow: ellipsis;
      color: #4e4e4e;
    }
  }

}
