.ui-learn-item {
  display: flex;
  max-width: 100%;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &.on-selected {
    color: #0a93f3;
  }

  .icon {
    margin-right: 10px;
  }

  .title {
    flex-grow: 1;
    font-weight: normal;
  }

  &.selected {
    .title {
      //border-left: 2px solid #0a66b7;
      //padding-left: 10px;
      color: #0a66b7;
    }
  }

  .action {

  }
}