.ui-drag-drop-root {
  //border: 1px solid #cccccc;
  .ui-draggable-wrapper {
    position: relative;
    padding: 8px;
    //margin: 8px;
  }

  .ui-recursive-panel {
    position: relative;
    padding-bottom: 45px;

    .ui-content-control {
      position: absolute;
      bottom: 0;
    }
  }


  .ui-content-control {
    border: none !important;
    padding: 10px;
    //position: absolute;
    //bottom: -25px;
    z-index: 200;
    background: #ffffff;
    width: 100%;
    //background-color: #f1f1f1 !important;
    text-align: right;

    .ui-control-item {
      margin-left: 20px;
      font-size: 20px;
    }


    //
    //&.active {
    //  .ui-content-control {
    //    display: block !important;
    //  }
    //
    //}
  }

  .ui-drop-panel {
    margin-bottom: 20px;
  }

  .editing {
    border: 0px solid #ffffff;
    background-color: #ffffff;
  }

  .ui-editable-comp {
    padding: 5px;
    display: inline-block;
  }
}
