@media only screen and (max-width: 1150px) {
  .ui-edulibra-roadmap {
    .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
      i.anticon {
        transform: translateX(13px) translateY(6px) !important;
      }
    }

    .iconImgElearning {
      img {
        width: 23px !important;
      }
    }
    .iconImg {
      img {
        width: 28px !important;
      }
    }
  }

}

.ui-edulibra-roadmap {
  background-color: #F3F4FB;


  h2.title-panel {
    font-size: 35px;
    color: var(--primary-color);
    padding: 65px 40px 0px 40px;
  }


  .vertical-timeline--two-columns .vertical-timeline-element-content {
    min-width: 44%;
  }

  .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    display: flex;
    text-align: center;
    align-items: center;

    i.anticon {
      transform: translateX(22px) translateY(6px);
    }
  }

  .anticon-elearning {
    .jss74 {
      width: 33px !important;
      height: 33px !important;
      margin-left: -14px !important;
      margin-top: -9px !important;
      fill: seashell;
    }
  }


  .iconImg, .iconImgElearning {
    img {
      max-width: 49px !important;
      filter: brightness(0) invert(1);
      transform: translateX(6px) translateY(-3px);
    }

  }

  .iconImgElearning {
    img {
      max-width: 40px !important;
      transform: translateX(10px) translateY(0px) !important;
    }
  }

  .ui-edulibra-roadmap-content {
    max-width: 1300px;
    margin: 0 auto;
  }
}
