@media only screen and (max-width: 900px) {
  .ui-header-menu {
    display: none !important;
  }
  .menu-icon {
    display: block !important;
  }

}

.ui-edulibra-menu {
  //height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;

  .ui-menu-panel {
    display: flex;
    align-items: center;
  }
  .menu-icon {
    font-size: 30px;
    color: #ffffff;
    display: none;
  }
  .ui-edulibra-menu-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .top-banner {
      display: flex;
      width: 100%;
      margin: 0 auto;

      .ui-logo {
        flex-grow: 1;
        display: flex;
        align-items: center;

        &:hover {
          opacity: 0.9;
        }

        .edulibra {
          color: #ffffff;
          font-size: 40px;
        }

        img {
          height: 40px;
          margin-right: 8px;
          filter: brightness(0) invert(1);
        }
      }

      .ant-menu-horizontal {
        border: none;
        color: #ffffff;
      }

      .ui-header-menu {
        font-size: 14px;
        font-weight: bold;
      }
    }

  }



}
.ui-edulibra-mobile-menu {
  .ant-drawer-content {
    background: var(--primary-color) !important;
  }
  .ant-drawer-wrapper-body {
    .ant-drawer-header {
      background: var(--primary-color) !important;
      padding: 16px 24px !important;
    }
  }

.ui-header-menu-mobile {
  margin-top: 20px;
  .ant-menu-item {
    padding: 20px 0;
    color: #ffffff;
    font-size: 20px;
    height: auto !important;
  }
}
  .ui-logo-menu {
    color: #ffffff;
    font-size: 40px;
    img {
      height: 40px;
      margin-right: 8px;
      filter: brightness(0) invert(1);
    }
  }

}
